<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body>

    <div id="root">

        <div class="wrapper">

            <div class="logo">
                <h1>To Do List</h1>
            </div>

            <!--input-->
            <div class="new-todo">
                <input v-model="userTodo" @keyup.enter="addTodo" class="text-input" type="text" placeholder="New ToDo">
                <button class="btn" @click="addTodo">Aggiungi</button>
            </div>
            <!--input-->

            <!--lista to do -->
            <div class="todos-container">
                <ul v-if="todoArrayList.length > 0" class="todos-list">
                    <li v-for="(todo, index) in todoArrayList">
                        {{ todo }}
                        <span class="delete" @click="removeItem(index)">
                            <i class="fa fa-times"></i>
                        </span>
                    </li>
                </ul>
                <div v-else class="nothtodo">Non hai nulla da fare!</div>
            </div>
            
            <!--lista to do -->
        </div>
    </div>

    
    <script type="text/javascript" src="js/script.js" ></script>
</body>
</html>
